In [1]:
import pandas as pd
frame = pd.DataFrame({'numbers': range(10), 'chars':['a']*10})
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 2 columns):
chars      10 non-null object
numbers    10 non-null int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [10]:
frame.columns
frame.shape

(10, 2)

In [14]:
newln = dict(chars='x', numbers=7)
frame.append(newln, ignore_index=True)

   chars  numbers
0      a        0
1      a        1
2      a        2
3      a        3
4      a        4
5      a        5
6      a        6
7      a        7
8      a        8
9      a        9
10     x        7

In [16]:
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [24]:
frame['xxx'] = [False] * 8 + [True] * 2
frame

  chars  numbers    xxx
0     a        0  False
1     a        1  False
2     a        2  False
3     a        3  False
4     a        4  False
5     a        5  False
6     a        6  False
7     a        7  False
8     a        8   True
9     a        9   True

In [29]:
frame.drop('xxx', axis=1, inplace=True)
frame

ValueError: labels ['xxx'] not contained in axis

In [37]:
frame = pd.DataFrame({'Name': ['Зайцев', 'Королев'], 'birth': [1976, 1993]})

In [38]:
frame

      Name  birth
0   Зайцев   1976
1  Королев   1993

In [48]:
frame.addColumn('IsStudent', [False, True])

AttributeError: 'DataFrame' object has no attribute 'addColumn'

In [47]:
frame

      Name  birth student
0   Зайцев   1976   False
1  Королев   1993   False