Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион).
Чем выше концентрация кальция, тем жёстче вода.
Города дополнительно поделены на северные и южные.

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

Нас интересует только второй вариант, несмещённая оценка стандартного отклонения.

Чтобы не думать всё время о том, правильно ли вычисляется в вашем случае std(), можно всегда использовать std(ddof=1) (ddof — difference in degrees of freedom), тогда нормировка всегда будет на n-1.

In [9]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats

In [2]:
water = pd.read_csv('water.txt', sep='\t')

In [3]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [5]:
south = water[water['location'] == 'South']
north = water[water['location'] == 'North']

In [13]:
def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), sp.stats.sem(a)
    h = se * sp.stats.t._ppf((1+confidence)/2., n-1)
    return m - h, m, m + h

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [15]:
round(mean_confidence_interval(water['mortality'])[0], 4)

1476.0833

На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [18]:
round(mean_confidence_interval(south['mortality'])[2], 4)

1433.4636

На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

In [25]:
print 'south: ', mean_confidence_interval(south['mortality'])
print 'north: ', mean_confidence_interval(north['mortality'])

south:  (1320.1517462936238, 1376.8076923076924, 1433.463638321761)
north:  (1586.5605251961385, 1633.5999999999999, 1680.6394748038613)

Пересекаются ли 95% доверительные интервалы для средней жёсткости воды в северных и южных городах?

In [29]:
print 'south: ', mean_confidence_interval(south['hardness'])
print 'north: ', mean_confidence_interval(north['hardness'])

south:  (53.467198692036106, 69.769230769230774, 86.071262846425441)
north:  (21.422487285724259, 30.399999999999999, 39.377512714275738)

In [30]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [39]:
data = water
_tconfint_generic(
    data['mortality'].mean(), 
    data['mortality'].std(ddof=1) / np.sqrt(len(data)),
    len(data) - 1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [45]:
_zconfint_generic(
    data['mortality'].mean(), 
    1 / np.sqrt(len(data)), 0.01, 'two-sided')

(1523.8177398363405, 1524.4773421308728)

In [34]:
_tconfint_generic(
    data[data.location == 'South'].mortality.mean(),
    data[data.location == 'South'].mortality.std(ddof=1) / np.sqrt(len(data[data.location == 'South'])),
    len(data[data.location == 'South']) - 1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [38]:
print _tconfint_generic(
    data[data.location == 'South'].hardness.mean(),
    data[data.location == 'South'].hardness.std(ddof=1) / np.sqrt(len(data[data.location == 'South'])),
    len(data[data.location == 'South']) - 1, 0.05, 'two-sided')
print _tconfint_generic(
    data[data.location == 'North'].hardness.mean(),
    data[data.location == 'North'].hardness.std(ddof=1) / np.sqrt(len(data[data.location == 'North'])),
    len(data[data.location == 'North']) - 1, 0.05, 'two-sided')

(53.467198692036106, 86.071262846425441)
(21.422487285724259, 39.377512714275738)